In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

# Load the dataset
data = pd.read_csv('/content/bank-full.csv', header=None,skiprows=1)
data2 = pd.read_csv('/content/bank.csv', header=None,skiprows=1)

# Split the single column into multiple columns based on the delimiter
data = data[0].str.split(';', expand=True)
data2 = data2[0].str.split(';', expand=True)

# Assign column names
columns = ["age", "job", "marital", "education", "default", "balance", "housing", "loan",
           "contact", "day", "month", "duration", "campaign", "pdays", "previous", "poutcome", "y"]
data.columns = columns
data2.columns = columns

# Display the first few rows of the dataset to verify the splitting
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,"""management""","""married""","""tertiary""","""no""",2143,"""yes""","""no""","""unknown""",5,"""may""",261,1,-1,0,"""unknown""","""no"""
1,44,"""technician""","""single""","""secondary""","""no""",29,"""yes""","""no""","""unknown""",5,"""may""",151,1,-1,0,"""unknown""","""no"""
2,33,"""entrepreneur""","""married""","""secondary""","""no""",2,"""yes""","""yes""","""unknown""",5,"""may""",76,1,-1,0,"""unknown""","""no"""
3,47,"""blue-collar""","""married""","""unknown""","""no""",1506,"""yes""","""no""","""unknown""",5,"""may""",92,1,-1,0,"""unknown""","""no"""
4,33,"""unknown""","""single""","""unknown""","""no""",1,"""no""","""no""","""unknown""",5,"""may""",198,1,-1,0,"""unknown""","""no"""

In [ ]:
data["job"] = data["job"].str.replace('"', '', regex=False)
data["marital"] = data["marital"].str.replace('"', '', regex=False)
data["education"] = data["education"].str.replace('"', '', regex=False)
data["default"] = data["default"].str.replace('"', '', regex=False)
data["housing"] = data["housing"].str.replace('"', '', regex=False)
data["loan"] = data["loan"].str.replace('"', '', regex=False)
data["contact"] = data["contact"].str.replace('"', '', regex=False)
data["month"] = data["month"].str.replace('"', '', regex=False)
data["poutcome"] = data["poutcome"].str.replace('"', '', regex=False)
data["y"] = data["y"].str.replace('"', '', regex=False)

In [ ]:
data2["job"] = data2["job"].str.replace('"', '', regex=False)
data2["marital"] = data2["marital"].str.replace('"', '', regex=False)
data2["education"] = data2["education"].str.replace('"', '', regex=False)
data2["default"] = data2["default"].str.replace('"', '', regex=False)
data2["housing"] = data2["housing"].str.replace('"', '', regex=False)
data2["loan"] = data2["loan"].str.replace('"', '', regex=False)
data2["contact"] = data2["contact"].str.replace('"', '', regex=False)
data2["month"] = data2["month"].str.replace('"', '', regex=False)
data2["poutcome"] = data2["poutcome"].str.replace('"', '', regex=False)
data2["y"] = data2["y"].str.replace('"', '', regex=False)

In [ ]:
data.head(1)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no

In [ ]:
data['default'].unique()

array(['no', 'yes'], dtype=object)

In [ ]:
data[["default","housing","loan","y"]] = data[["default","housing","loan","y"]].replace({'yes': 1, 'no': 0})
data2[["default","housing","loan","y"]] = data2[["default","housing","loan","y"]].replace({'yes': 1, 'no': 0})

In [ ]:
data.head(1)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,0,2143,1,0,unknown,5,may,261,1,-1,0,unknown,0

In [ ]:
data["month"].unique()

array(['may', 'jun', 'jul', 'aug', 'oct', 'nov', 'dec', 'jan', 'feb',
       'mar', 'apr', 'sep'], dtype=object)

In [ ]:
# job,marital,education,contact,month,poutcome
data["job"] = data["job"].replace({'management': 1,'technician': 2,'entrepreneur': 3,'blue-collar': 4,'unknown': 5,'retired': 6,'admin.': 7,'services': 8,'self-employed': 9,'unemployed': 10,'housemaid': 11,'student': 12})
data["marital"] = data["marital"].replace({'married': 1,'single': 2,'divorced': 3})
data["education"] = data["education"].replace({'secondary': 1,'tertiary': 2,'primary': 3,'unknown': 4})
data["contact"] = data["contact"].replace({'unknown': 1,'cellular': 2,'telephone': 3})
data["month"] = data["month"].replace({'may': 1, 'jun': 2, 'jul': 3, 'aug': 4, 'oct': 5, 'nov': 6, 'dec': 7, 'jan': 8, 'feb': 9, 'mar': 10, 'apr': 11, 'sep': 12})
data["poutcome"] = data["poutcome"].replace({'unknown': 1, 'failure': 2, 'other': 3, 'success': 4})


data2["job"] = data2["job"].replace({'management': 1,'technician': 2,'entrepreneur': 3,'blue-collar': 4,'unknown': 5,'retired': 6,'admin.': 7,'services': 8,'self-employed': 9,'unemployed': 10,'housemaid': 11,'student': 12})
data2["marital"] = data2["marital"].replace({'married': 1,'single': 2,'divorced': 3})
data2["education"] = data2["education"].replace({'secondary': 1,'tertiary': 2,'primary': 3,'unknown': 4})
data2["contact"] = data2["contact"].replace({'unknown': 1,'cellular': 2,'telephone': 3})
data2["month"] = data2["month"].replace({'may': 1, 'jun': 2, 'jul': 3, 'aug': 4, 'oct': 5, 'nov': 6, 'dec': 7, 'jan': 8, 'feb': 9, 'mar': 10, 'apr': 11, 'sep': 12})
data2["poutcome"] = data2["poutcome"].replace({'unknown': 1, 'failure': 2, 'other': 3, 'success': 4})

data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,1,1,2,0,2143,1,0,1,5,1,261,1,-1,0,1,0
1,44,2,2,1,0,29,1,0,1,5,1,151,1,-1,0,1,0
2,33,3,1,1,0,2,1,1,1,5,1,76,1,-1,0,1,0
3,47,4,1,4,0,1506,1,0,1,5,1,92,1,-1,0,1,0
4,33,5,2,4,0,1,0,0,1,5,1,198,1,-1,0,1,0

In [ ]:
# Convert categorical variables to numeric using one-hot encoding
# data2 = pd.get_dummies(data, drop_first=True)

In [ ]:
# Display columns to check the exact name of the target column
# print("Columns after one-hot encoding:", data.columns)

# Define features (X) and target (y)
x = data.drop('y', axis=1)  # Features
y = data['y']               # Target

# input_test = data2.drop('y', axis=1)  # Features
# output_test = data2['y']               # Target

# Split the data
input_train, input_test, output_train, output_test = train_test_split(x, y, test_size=0.3, random_state=42)

# Build the decision tree classifier
model = DecisionTreeClassifier(max_depth=5, min_samples_split=10, min_samples_leaf=5)

# Train the model
model.fit(input_train, output_train)

# Test the model
predictions = model.predict(input_test)

# Evaluate the model
accuracy = accuracy_score(output_test, predictions)
print(f'Accuracy: {accuracy:.4f}')

Accuracy: 0.8984

In [ ]:
data2.head(1)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,10,1,3,0,1787,0,0,2,19,5,79,1,-1,0,1,0

In [ ]:
duplicates = pd.merge(data, data2, how='inner')
# Print or save the duplicates
print("Duplicates found:")
print(duplicates)

Duplicates found:
     age  job  marital  education  default balance  housing  loan  contact  \
0     42    3        3          2        1       2        1     0        1
1     43    2        2          1        0     593        1     0        1
2     57    8        1          1        0     162        1     0        1
3     57    2        1          1        0     839        0     1        1
4     59    4        1          1        0       0        1     0        1
...   ..  ...      ...        ...      ...     ...      ...   ...      ...
4516  35    2        1          1        0       0        1     0        2
4517  36    7        2          2        0     980        0     0        2
4518  75    6        3          2        0    3810        1     0        2
4519  36    1        2          1        0    1511        1     0        2
4520  25    2        2          1        0     505        0     1        2

     day  month duration campaign pdays previous  poutcome  y
0      5      1      380        1    -1        0         1  0
1      5      1       55        1    -1        0         1  0
2      5      1      174        1    -1        0         1  0
3      5      1      225        1    -1        0         1  0
4      5      1      226        1    -1        0         1  0
...   ..    ...      ...      ...   ...      ...       ... ..
4516   9      6      524        1    96        5         4  1
4517  11      6      118        4   104        7         2  0
4518  16      6      262        1   183        1         2  1
4519  16      6      270        1    -1        0         1  1
4520  17      6      386        2    -1        0         1  1

[4521 rows x 17 columns]

In [ ]:
data2.shape

(4521, 17)

In [ ]:
# # Calculate accuracy
# accuracy = accuracy_score(y_test, predictions)
# print(f'Accuracy: {accuracy:.2f}')

# # Confusion matrix
# cm = confusion_matrix(y_test, predictions)
# print("Confusion Matrix:")
# print(cm)

# # Classification report
# report = classification_report(y_test, predictions)
# print("Classification Report:")
# print(report)

# # Cross-validation score
# cv_scores = cross_val_score(model, X, y, cv=5)  # 5-fold cross-validation
# print(f'Cross-Validation Scores: {cv_scores}')
# print(f'Average Cross-Validation Score: {cv_scores.mean():.2f}')

In [ ]:
# Load the dataset
data3 = pd.read_csv('/content/bank-additional-full.csv', header=None,skiprows=1)
data4 = pd.read_csv('/content/bank-additional.csv', header=None,skiprows=1)

# Split the single column into multiple columns based on the delimiter
data3 = data3[0].str.split(';', expand=True)
data4 = data4[0].str.split(';', expand=True)

# Assign column names
columns = ["age", "job", "marital", "education", "default", "housing", "loan",
           "contact", "month", "day_of_week", "duration", "campaign", "pdays",
           "previous", "poutcome", "emp.var.rate", "cons.price.idx", "cons.conf.idx",
           "euribor3m", "nr.employed", "y"]
data3.columns = columns
data4.columns = columns

# Display the first few rows of the dataset to verify the splitting
data3.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,"""housemaid""","""married""","""basic.4y""","""no""","""no""","""no""","""telephone""","""may""","""mon""",...,1,999,0,"""nonexistent""",1.1,93.994,-36.4,4.857,5191,"""no"""
1,57,"""services""","""married""","""high.school""","""unknown""","""no""","""no""","""telephone""","""may""","""mon""",...,1,999,0,"""nonexistent""",1.1,93.994,-36.4,4.857,5191,"""no"""
2,37,"""services""","""married""","""high.school""","""no""","""yes""","""no""","""telephone""","""may""","""mon""",...,1,999,0,"""nonexistent""",1.1,93.994,-36.4,4.857,5191,"""no"""
3,40,"""admin.""","""married""","""basic.6y""","""no""","""no""","""no""","""telephone""","""may""","""mon""",...,1,999,0,"""nonexistent""",1.1,93.994,-36.4,4.857,5191,"""no"""
4,56,"""services""","""married""","""high.school""","""no""","""no""","""yes""","""telephone""","""may""","""mon""",...,1,999,0,"""nonexistent""",1.1,93.994,-36.4,4.857,5191,"""no"""

In [ ]:
data3["job"] = data3["job"].str.replace('"', '', regex=False)
data3["marital"] = data3["marital"].str.replace('"', '', regex=False)
data3["education"] = data3["education"].str.replace('"', '', regex=False)
data3["default"] = data3["default"].str.replace('"', '', regex=False)
data3["housing"] = data3["housing"].str.replace('"', '', regex=False)
data3["loan"] = data3["loan"].str.replace('"', '', regex=False)
data3["contact"] = data3["contact"].str.replace('"', '', regex=False)
data3["month"] = data3["month"].str.replace('"', '', regex=False)
data3['day_of_week'] = data3['day_of_week'].str.replace('"', '', regex=False)
data3["poutcome"] = data3["poutcome"].str.replace('"', '', regex=False)
data3["y"] = data3["y"].str.replace('"', '', regex=False)

In [ ]:
data4["job"] = data4["job"].str.replace('"', '', regex=False)
data4["marital"] = data4["marital"].str.replace('"', '', regex=False)
data4["education"] = data4["education"].str.replace('"', '', regex=False)
data4["default"] = data4["default"].str.replace('"', '', regex=False)
data4["housing"] = data4["housing"].str.replace('"', '', regex=False)
data4["loan"] = data4["loan"].str.replace('"', '', regex=False)
data4["contact"] = data4["contact"].str.replace('"', '', regex=False)
data4["month"] = data4["month"].str.replace('"', '', regex=False)
data4['day_of_week'] = data4['day_of_week'].str.replace('"', '', regex=False)
data4["poutcome"] = data4["poutcome"].str.replace('"', '', regex=False)
data4["y"] = data4["y"].str.replace('"', '', regex=False)

In [ ]:
data3.head(1)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no

In [ ]:
data3[["default","housing","loan","y"]] = data3[["default","housing","loan","y"]].replace({'yes': 1, 'no': 0})
data4[["default","housing","loan","y"]] = data4[["default","housing","loan","y"]].replace({'yes': 1, 'no': 0})

In [ ]:
data3.head(1)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,0,0,0,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,0

In [ ]:
data['default'].unique()

array([0, 1])

In [ ]:
# job,marital,education,contact,month,poutcome
data3["job"] = data3["job"].replace({'management': 1,'technician': 2,'entrepreneur': 3,'blue-collar': 4,'unknown': 5,'retired': 6,'admin.': 7,'services': 8,'self-employed': 9,'unemployed': 10,'housemaid': 11,'student': 12})
data3["marital"] = data3["marital"].replace({'married': 1,'single': 2,'divorced': 3})
data3["education"] = data3["education"].replace({'secondary': 1,'tertiary': 2,'primary': 3,'unknown': 4})
data3["contact"] = data3["contact"].replace({'unknown': 1,'cellular': 2,'telephone': 3})
data3["month"] = data3["month"].replace({'may': 1, 'jun': 2, 'jul': 3, 'aug': 4, 'oct': 5, 'nov': 6, 'dec': 7, 'jan': 8, 'feb': 9, 'mar': 10, 'apr': 11, 'sep': 12})
data3["day_of_week"] = data3["day_of_week"].replace({'mon': 1, 'tue': 2, 'wed': 3, 'thu': 4, 'fri': 5, 'sat': 6, 'sun': 7})
data3["poutcome"] = data3["poutcome"].replace({'unknown': 1, 'failure': 2, 'other': 3, 'success': 4})


data4["job"] = data4["job"].replace({'management': 1,'technician': 2,'entrepreneur': 3,'blue-collar': 4,'unknown': 5,'retired': 6,'admin.': 7,'services': 8,'self-employed': 9,'unemployed': 10,'housemaid': 11,'student': 12})
data4["marital"] = data4["marital"].replace({'married': 1,'single': 2,'divorced': 3})
data4["education"] = data4["education"].replace({'secondary': 1,'tertiary': 2,'primary': 3,'unknown': 4})
data4["contact"] = data4["contact"].replace({'unknown': 1,'cellular': 2,'telephone': 3})
data4["month"] = data4["month"].replace({'may': 1, 'jun': 2, 'jul': 3, 'aug': 4, 'oct': 5, 'nov': 6, 'dec': 7, 'jan': 8, 'feb': 9, 'mar': 10, 'apr': 11, 'sep': 12})
data4["day_of_week"] = data4["day_of_week"].replace({'mon': 1, 'tue': 2, 'wed': 3, 'thu': 4, 'fri': 5, 'sat': 6, 'sun': 7})
data4["poutcome"] = data4["poutcome"].replace({'unknown': 1, 'failure': 2, 'other': 3, 'success': 4})

data3.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,11,1,basic.4y,0,0,0,3,1,1,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,0
1,57,8,1,high.school,unknown,0,0,3,1,1,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,0
2,37,8,1,high.school,0,1,0,3,1,1,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,0
3,40,7,1,basic.6y,0,0,0,3,1,1,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,0
4,56,8,1,high.school,0,0,1,3,1,1,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,0

In [ ]:
# Display columns to check the exact name of the target column
# print("Columns after one-hot encoding:", data.columns)

# Define features (X) and target (y)
input_train = data3.drop('y', axis=1)  # Features
y_train = data3['y']               # Target

input_test = data4.drop('y', axis=1)  # Features
y_test = data4['y']               # Target

# Split the data
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Build the decision tree classifier
model = DecisionTreeClassifier(max_depth=5, min_samples_split=10, min_samples_leaf=5)

# Train the model
model.fit(input_train, y_train)

# Test the model
predictions = model.predict(input_test)

# Evaluate the model
accuracy = accuracy_score(y_test, predictions)
print(f'Accuracy: {accuracy:.4f}')

ValueError: could not convert string to float: 'unknown'